[settings]
arch = {{ arch }}
build_type = {{ build_type}}
compiler = {{ compiler }}
compiler.cppstd = {{ build_cppst }}
compiler.runtime = {{ build_runtime }}
compiler.runtime_type = {{ build_runtime_type }}
compiler.version = {{ build_cversion }}
os = {{ os }}
[options]
*:shared={{ shared }}